.container__item--output .header__extra-info .hstack label:has(input:checked) {
  color: var(--clr-brand);
}

.display-ouline * {
  outline: 3px dotted red;
}

.container__item--scrollable .item__header {
  z-index: 3;
}
